<% random_songs = ["'Only Shallow' by My Bloody Valentine", "'Good Morning, Captain' by Slint", "'Bachelorette' by Björk", "'Dance Yrself Clean' by LCD Soundsytem", "'Shadowplay' by Joy Division", "'How Soon is Now' by the Smiths", "'Surgeon' by St. Vincent"] %>

<h1>Greetings</h1>
<p>The song you should be listening to right now is <%= random_songs.sample %></p>
<p>The time is now <%= Time.now %></p>
