
<h1 class = "courselist">Showing classes with search term '<%= @search_query %>'</h1>

<table class = "coursetable">
<tr>
	<th class ="coursehead">Image
	</th>
	<th class ="coursehead">Name
	</th>
	<th class ="coursehead">Description
	</th>
</tr>
	<% @courses.each do |course|%>
	<tr>
	<td class="courseimg"> <%= image_tag(course["smallIcon"])%>
	</td>
	<td class= "coursename"><%= course["name"]%>
	</td>
	<td class = "coursedesc"><%= course["shortDescription"]%>
	</td>
	</tr>
	<% end %>
</table>