// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
	border-collapse: border;
}
td, th{
	padding: 10px;
	background-color:white;
	border: 1px solid #666;
}

table tr:nth-child(odd) td{
		background-color: #f5f5dc

}